@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", sans-serif;
}

.home-container::-webkit-scrollbar,
.movie-details-section::-webkit-scrollbar,
.outlet-container::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

.dark ::-webkit-scrollbar-track {
  background: rgb(45, 43, 43);
}
::-webkit-scrollbar-track {
  background: rgb(233, 233, 233);
}


::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.493);
  border-radius: 1rem;
  margin-inline: 10px;
  border: 3.5px solid transparent;
  background-clip: content-box;
  transition: opacity 2s ease;
}